=render :partial => "shared/header"

.col-sm-12
  .panel.panel-primary
    .panel-heading
      .h2
        =@transaction.requestee.name + "'s " + @transaction.item.name
    .panel-body
      .col-sm-4
        %ul.list-group
          %li.list-group-item
            ="Item: " + @transaction.item.name
          %li.list-group-item
            ="From: " + @transaction.requestee.name
          %li.list-group-item
            ="To: " + @transaction.requestor.name
          %li.list-group-item
            ="Requested: " + @transaction.created_at.to_s
          %li.list-group-item
            ="Status: " + @transaction.get_status
      .col-sm-8
        .row
          .col-sm-9
            .h3
              ="Comments"
          .col-sm-3
            .pull-right
              %button.btn.btn-primary{"data-target" => "#addComment", "data-toggle" => "modal"}
                Add Comment

        -@transaction.comments.each do |comment|
          .panel.panel-danger
            .panel-heading
              =comment.comrade.name + " at " + comment.created_at.to_s
            .panel-body
              =comment.text          


=render :partial => "shared/add_comment"
