=render :partial => "shared/header"

.col-sm-3
  =render :partial => "shared/comrade_panel"

.col-sm-9
  .panel.panel-primary
    .panel-heading
      .h2
        ="Incoming Requests"
    .panel-body
      %table.table-striped.table-hover
        %table-body
          -@comrade.from_transactions.each do |transaction|
            %tr
              %td.h3
                =link_to transaction.item.name, transaction_path(transaction)
              %td 
                =transaction.item.desc 

  .panel.panel-primary
    .panel-heading
      .h2
        ="My Requests"
    .panel-body
      %table.table-striped.table-hover
        %table-body
          -@comrade.to_transactions.each do |transaction|
            %tr
              %td.h3
                =link_to transaction.item.name, transaction_path(transaction)
              %td 
                =transaction.item.desc 

  .panel.panel-primary
    .panel-heading
      .h2
        ="Inventory"
        .btn.btn-default.pull-right
          =link_to "Add Item", new_comrade_item_path(@comrade)
    .panel-body
      %table.table-striped.table-hover
        %table-body
          -@comrade.items.each do |item|
            %tr
              %td.h3
                =link_to item.name, item_path(item)
              %td 
                =item.desc 
